* {
    box-sizing: border-box;
}
body {
    width:80%;
    margin: 0 auto;
}

.notes {
    background: #efefef;
}

li > span {
    display:inline-block;
    text-align: center;
    width:30px;
    height:1.5em;
    margin-bottom:.5em;
    background: lightseagreen;
}